<!-- Determine Status -->
{% if project.isPrivate == true %}
	{% assign status = "PRIVATE" %}
	{% assign status_color = "w3-red" %}
{% elsif project.isArchived == true %}
	{% assign status = "Completed" %}
	{% assign status_color = "w3-green" %}
{% elsif project.isTemplate == true %}
	{% assign status = "Template" %}
	{% assign status_color = "w3-blue" %}
{% elsif project.isFork == true %}
	{% assign status = "Forked" %}
	{% assign status_color = "w3-cyan" %}
{% else %}
	{% assign status = "Active" %}
	{% assign status_color = "w3-green" %}
{% endif %}

<a href="https://Matt-Santos.github.io/{{ include.data.name }}/" style="text-decoration:none">
	<div class="w3-card w3-content w3-container w3-padding w3-hover-shadow w3-hover-sand w3-round-xlarge " style="height:400px;position:relative;overflow:auto;scrollbar-width:none">
		<div class="w3-third">
			<img src="https://raw.githubusercontent.com/Matt-Santos/{{ include.data.name }}/refs/heads/main/.github/project.jpg" class="w3-round-xlarge w3-image">
			<div class="w3-quarter w3-center">
				<div class="fa-solid fa-star"><span> {{ include.data.stargazerCount }}</span></div><br>
				<div class="fa-solid fa-eye"><span> {{ include.data.watchers.totalCount }}</span></div><br>
				<div class="fa-solid fa-code-fork"><span> {{ include.data.forkCount }}</span></div>
			</div>
			<div class="w3-threequarter w3-center">
				Updated: {{ include.data.updatedAt | date: "%Y-%m-%d %H:%M" }}<br>
				Created: {{ include.data.createdAt | date: "%Y-%m-%d %H:%M" }}<br>
				Main Language: {{ include.data.primaryLanguage.name }}
				<!--Topics: {% for topics in include.data.repositoryTopics %}{{topics.name}}{% if forloop.last != true %},{% endif %}{% endfor %}-->
			</div>
		</div>
		<div class="w3-twothird">
			<!-- Project README.md -->
			{% capture readme_include %}{% include Matt-Santos/{{ include.data.name }}/README.md %}{% endcapture %}
			{{ readme_include | markdownify %}}
			<div class="w3-display-topright w3-round-xlarge {{ status_color }}" style="right:5px;top:8px">&nbsp;&nbsp; {{ status }} &nbsp;&nbsp;</div>
		</div>
	</div>
</a>
