---
title: Home
custom_title: "project.name"
layout: splash
header:
  overlay_image: /assets/documents/images/project.png
  actions:
    - label: "Data Sheet"
      url: "/assets/documents/Datasheet.pdf"
excerpt: "Short Project Description"

feature_row:
  - image_path: /assets/documents/images/featureA.jpg
    title: "Documentation"
    excerpt: "Learn more about how the device works"
    btn_label: "Read the Docs"
    btn_class: "btn--info"
  - image_path: /assets/documents/images/featureB.jpg
    title: "Photo Gallery"
    excerpt: "See the development of this project and other photos"
    btn_label: "See More"
    btn_class: "btn--info"
  - image_path: /assets/documents/images/featureC.jpg
    title: "Files"
    excerpt: "Access ... "
    btn_label: "View Files"
    btn_class: "btn--info"
---

<!-- Long Description -->
{% include_relative assets/documents/README.md | markdownify %}
	
<!-- Features Listing -->
{% include feature_row %}