---
title: Matthew Santos
layout: default
bg: /assets/images/Misc/background1.jpg
bg_height: 100%
---

<!-- About Me Section -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h2 class="w3-center">ABOUT ME</h2>
  <p class="w3-center"><em> Electrical Designer & Researcher Specializing in Sensor Technologies</em></p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
	<figure>
      <img src="/assets/images/Misc/matthew.jpg" class="w3-round w3-image" alt="Photo of Me" width="433">
	  <figcaption><b><i class="fa fa-user w3-margin-right"></i>Mattew Santos &ensp;&ensp;</b></figcaption>
	</figure>
    </div>
    <div class="w3-col m6 w3-padding-large">
		<p>I am an aspiring electrical engineer with a hybrid background in pure science and applied technology. My academic and professional trajectory has equipped me with the ability to comprehend complex physical phenomenon and design systems that quantify them with enhanced precision. Accordingly I now specialize in augumenting sensors with application specific electronic systems and have worked alongside senior researchers, integrating a variety of novel sensor technologies and implementing unique measurement methodologies. I am passionate about improving system efficiency, reliability, and performance, and thrive on tackling complex problems that require both creativity and technical expertise.
		</p>
		
		See my <a href="https://docs.google.com/viewer?url=https://github.com/Matt-Santos/Resume/releases/latest/download/Matthew_Santos_Resume.pdf">Resume</a>.
    </div>
  </div>
</div>

<!-- Stats Banner (done)-->
<div class="w3-row w3-center w3-dark-grey w3-padding-16">
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">10+</span><br>
    Projects Completed
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">25+</span><br>
    Presentations Given
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">85+</span><br>
    Courses Taken
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">150+</span><br>
    Meetings Attended
  </div>
</div>

<!-- CV Image (done)-->
{% include parallax_bg.html image_url="/assets/images/Misc/background2.jpg" %}

<!-- CV Section (done)-->
<div class="w3-content w3-container w3-padding-64" id="cv">
    <h2 class="w3-center">CURRICULUM VITAE</h2>
	<a class="w3-text-white" style="float:right;padding-right:10px" href="https://docs.google.com/viewer?url=https://github.com/Matt-Santos/Resume/releases/latest/download/Matthew_Santos_CV.pdf">Print Version</a>
    <div class="w3-row w3-center w3-dark-grey w3-padding-16">
        <div class="w3-quarter w3-section">
            <a href="#education"><span class="w3-xlarge fa fa-university"></span><br>Education & Experience </a>
        </div>
        <div class="w3-quarter w3-section">
            <a href="#certifications"><span class="w3-xlarge fa fa-certificate"></span><br>Certifications</a>
        </div>
        <div class="w3-quarter w3-section">
            <a href="#awards"><span class="w3-xlarge fa fa-trophy"></span><br>Awards</a>
        </div>
        <div class="w3-quarter w3-section">
            <a href="#skills"><span class="w3-xlarge fa fa-microchip"></span><br>Skills</a>
        </div>
    </div>
	
	<!-- Education (done)-->
    <h3 id="education">Education</h3>
		<p><img src="/assets/images/logos/uwindsor.png"  width="240" height="90">Sept. 2018 - Present<br><em>University of Windsor, Windsor, Ontario</em><br>Masters of Applied Science in Electrical Engineering (Focus on Sensor Acquisition Systems)</p>
		<p><img src="/assets/images/logos/uwindsor.png"  width="240" height="90">Sept. 2015 - Oct. 2018<br><em>University of Windsor, Windsor, Ontario</em><br>Bachelor of Applied Science in Electrical Engineering with <a href="/assets/files/Letter_of_Specialization_Electronics_UWIN_2019.pdf">Specialization in Electronics</a></p>
		<p><img src="/assets/images/logos/uwaterloo.png" width="240" height="90">Sept. 2009 - June 2015<br><em>University of Waterloo, Waterloo, Ontario</em><br>Bachelor of Science with minor in Physics</p>
		<p>See <a href="courses.html">courses</a></p>
		
	<!-- Work Experience (done)-->
    <h3 id="work-experience">Work Experience</h3>
		<p><img src="/assets/images/logos/eminds.png"   width="240" height="90">Jan. 2022 - Sept. 2022<br>Research Assistant for the <a href="https://www.emadilab.com/research/">E-Minds Research Centre</a> at the University of Windsor, Windsor Ontario<br><em>Developed embeded systems to acquire and calibrate arrays of experiemental analog sensors.</em></p>
		<p><img src="/assets/images/logos/helpwear.png" width="240" height="90">Sept. 2018 - Jan. 2019<br>Mitacs Accelerate Intern for Helpwear, Toronto, Ontario<br><em><a href="https://www.mitacs.ca/our-projects/a-method-to-reduce-floating-ground-effect-on-wearable-electrocardiography-ecg-sensors/">Researched a method to reduce floating ground effect on wearable electrocardiography sensors.</a></em></p>
		<p><img src="/assets/images/logos/acs.png"      width="240" height="90">Sept. 2012 - Apr. 2013<br>Junior Metrology Lab Researcher at Alcohol Countermeasure Systems, Toronto, Ontario<br><em>Led research and development initiatives in the area of electrochemical and optical sensors.</em></p>
		<p><img src="/assets/images/logos/methes.png"   width="240" height="90">Sept. 2011 - Apr. 2012<br>Assistant Chemist at Methes Energies, Mississauga, Ontario<br><em>Implemented ASTM testing procedures and developed innovative measurement methodologies.</em></p>
		<p><img src="/assets/images/logos/nrcc.png"     width="240" height="90">Jan.  2011 - Apr. 2011<br>Co-op Student at the Herzberg Astronomy and Astrophysics Research Centre, Victoria, British Colombia<br><em>Developed and implemented the data processing pipeline for the <a href="https://www.astro.uvic.ca/~lff/NGVS/Home.html">Next Generation Virgo Cluster Survey</a></em></p>
		
	<!-- Projects (done)-->
    <h3 id="project-experience">Project Experience</h3>
		<p><img src="/assets/images/logos/thesis.png"      width="240" height="90">July 2019 - April 2025<br><a href="projects.html#thesis">Masters Thesis</a> | University of Windsor - Electrical and Computer Engineering Department<br>A novel single wire ECG acquisition system utilizing advanced filtering techniques.</p>
		<p><img src="/assets/images/logos/groguardian.png" width="240" height="90">Jan. 2022 - Sept. 2022<br>GroGuardian | University of Windsor - Electrical Micro &amp; Nano Devices and Sensor Research Centre<br>Apparatus for precise measurement and calibration of experimental electrochemical sensor arrays.</p>
		<p><img src="/assets/images/logos/grogenesis.png"  width="240" height="90">Jan. 2022 - Sept. 2022<br>GroGenesis | University of Windsor - Electrical Micro &amp; Nano Devices and Sensor Research Centre<br>Embedded system for remote monitoring and analysis of various atmospheric properties.</p>
		<p><img src="/assets/images/logos/heartLock.png"    width="240" height="90">Jan 2017 - Dec. 2017<br><a href="projects.html#capstone">Capstone Project</a> |  University of Windsor - Electrical and Computer Engineering Department<br>Cardless security system featuring biometric identification through electrocardiogram signals.</p>
		<!--<p><img src="/assets/images/logos/electronicsI.png"    width="240" height="90">Jan 2016 - Apr. 2016<br><a href="projects.html#electronicsI">Electronics I Design Project</a> |  University of Windsor - Electrical and Computer Engineering Department<br>Three phase open loop configuration PWN generator for use in low speed brushless motor control.</p> -->
	<!-- Certifications (done)-->
	<h3 id="certifications">Certifications</h3>
		<ul> 
			<li><p><img src="/assets/images/logos/st_johns.png" width="240" height="90">
			Standard First Aid CPR A + AED<br>
			<em>St. Johns Ambulance, Ottawa, Ontario</em><br>November 2024</p></li>
			<li><p><img src="/assets/images/logos/cmc.png" width="240" height="90">
			Analog Mixed-Signal Design Methodology and FinFET Layout Training using GF12LP PDK<br>
			<em>Canadian Microsystems Corperation, Montreal, Ontario</em><br>March 2022</p></li>
			<li><p><img src="/assets/images/logos/cmc.png" width="240" height="90">
			Analog Mixed-Signal Design Methodology - Train the Trainer using GPDK045 PDK<br>
			<em>Canadian Microsystems Corperation, Montreal, Ontario</em><br>March 2020</p></li>
			<li><p><img src="/assets/images/logos/uwin_ce.png" width="240" height="90">
			Technical Writing<br>
			<em>University of Windsor Continuing Education, Windsor, Ontario</em><br>March 2019</p></li>
		</ul>
		
	<!-- Publications (done)-->
    <h3 id="publications">Publications</h3>
		<ul>
		  <li><p>L. Ferrarese, et al., &quot;The Next Generation Virgo Cluster Survey (NGVS). XIV. The Discovery of Low-mass Galaxies and a New Galaxy Catalog in the Core of the Virgo Cluster,&quot; <em>The Astrophysical Journal</em>, vol. 890, no. 2, p. 128, Feb. 2020.</p>
		  <ul><li><a href="https://doi.org/10.3847/1538-4357/ab339f">DOI: 10.3847/1538-4357/ab339f</a></li></ul></li>

		  <li><p>R. Sánchez-Janssen, et al., &quot;The next generation virgo cluster survey. vii. the intrinsic shapes of low-luminosity galaxies in the core of the Virgo Cluster, and a comparison with the Local Group,&quot; <em>The Astrophysical Journal</em>, vol. 820, no. 1, p. 69, Mar. 2016.</p>
		  <ul><li><a href="https://doi.org/10.3847/0004-637x/820/1/69">DOI:10.3847/0004-637x/820/1/69</a></li></ul></li>
		</ul>
		
	<!-- Conferences -->
	<!-- Reviews -->
	<!-- Presentations -->
	
	<!-- Scholarships & Awards (done)-->
    <h3 id="awards">Scholarships & Awards</h3>
		<ul>
			<li>GA/TA Award Nomination | <em>University of Windsor</em>, May 2019</li>
			<li>Fredrick Atkins Graduate Scholarship | <em>University of Windsor</em>, May 2019 & May 2020</li>
			<li>Best Capstone Project | <em>University of Windsor Electrical Engineering Department</em>, Aug 2018</li>
			<li>Merit Scholarship | <em>University of Waterloo</em>, Sept. 2009</li>
			<li>Engineering Inspiration Award | <em>First Robotics Waterloo Regional</em>, 2009 & 2010.</li>
			<!--<li>R.J. McCarthy Award | ""HCDSB"", 2009</li>-->
		</ul>
	
	<!-- Mentorship (done)-->
    <h3 id="teaching">Supervision, Mentorship, and Teaching</h3>
    <ul>
		<li>Sole Invigilator for the engineering supplimental examinations | <em>University of Windsor</em>, Sept. 2019 </li>
			<ul><li>By special request of the Associate Dean.</li></ul>
		<li>Head Graduate Assistant for GENG 2340 Electrical and Computing Fundamentals | <em>University of Windsor</em>, Fall 2019</li>
			<ul><li>Managed a team of 13 graduate assistants providing guidance and oversight to ensure effective academic support.</li></ul>
		<li>Graduate Assistant ELEC 4000B Capstone Design Project | <em>University of Windsor</em>, Spring 2019</li>
		<li>Graduate Assistant ELEC 4000A Capstone Design Project | <em>University of Windsor</em>, Winter 2019</li>
		<li>Graduate Assistant GENG 2340 Electrical and Computing Fundamentals, Fall 2018</li>
			<ul><li>Entrusted to deliver lectures and manage classroom activities in the professor's absence.</ul></li>
		<li>Mentored and supervised three outstanding scholars to ensure project success | <em>University of Windsor</em>, Winter 2019</li>
			<ul><li>Projects included: literature reviews, embeded electronics design, and FEM modeling.</li></ul>
		<li>Workshops Attended | <em>University of Windsor - Centre for Teaching & Learning</em></li>
		<ul>
			<li>Teaching and Learning Conference Volunteer Training, April 2019</li>
			<li>Creating a Teaching Dossier, April 2019</li>
			<li>Leading Effective Labs and Tutorials, Sept. 2018</li>
			<li>Grading and Providing Effective Feedback, Sept. 2018</li>
			<li>Designing Lessons and Creating Lesson Plans, Sept. 2018</li>
		</ul>
    </ul>
	
	<!-- Affiliations (done)-->
	<h3 id="affiliations">Affiliations</h3>
		<ul>
			<li><img src="/assets/images/logos/ieee.png" height="54">
			Member IEEE, March 2018 - Present</li>
				<ul><li>IEEE Young Professionals Membership- 5 years</li></ul>
				<ul><li>IEEE Women in Engineering Membership - 4 years</li></ul>
				<ul><li>IEEE Circuit and Systems Society Membership - 1 year</li></ul>
			<li><img src="/assets/images/logos/esf.png" height="54">
			Alumni Representative, Nov. 2018 - Sept. 2021</li>
				<ul><li><em>University of Windsor Engineering Student Fund</em></li></ul>
			<li><img src="/assets/images/logos/frc.png" height="54">
			First Robotics Competition<br>
			<ul><li>Founding Member and Mentor - Team 3161 Tronic Titans, Sept. 2009 - Aug. 2011</li>
			<li>Electrical Lead - Team 1334 Red Devils, Sept 2009 - Nov. 2010</li></ul></li>
		</ul>
	
	<!-- Skills (done)-->
    <h3 id="skills">Technical Skills</h3>
		<p>
			The following is a list of software/hardware/protocols/equipment I have used.
		</p>
		<h5>Computer Aided Design</h5>
			<ul>
			<li>Electronic Design Suites (OrCAD, Allegro, Altium, Quartus, Proteus, Keysight EDA, Autodesk Fusion, KiCAD, MicroCap)</li>
			<li>Electronics Simulation (PSpice, ngSpice, MicroCap, TINA, Icarus, LTSpice)</li>
			<li>Integrated Circuit Design (Virtuoso, Spectre, Innovus, MAGIC)</li>
			<li>Mechanical Modeling (AutoCAD, Solidworks, FreeCAD)</li>
			<li>Programing IDEs (MPLAB-X, Keil Studio, STM32, Ardrino)</li>
			</ul>
		<h5>Electronics Implementation</h5>
			<ul>
			<li>Communication Protocals (SPI, I2C, I2S, UART, USB, TCP/IP, RS-232, RS-485, PS/2)</li>
			<li>Antenna Systems (Wifi, Bluetooth, RF 315/433MHz, Waveguides)</li>
			<li>Microcontrollers (PIC8/16/32, DSP32, ATMEGA32, ATtiny85, ARM-Cortex-M3)</li>
			<li>System on Chip (ESP32, STM32, Arduino, Raspberry Pi)</li>
			<li>Application Specific Integrated Circuits (ADuCM356, MAX30131, ADPD7008, AD9102)</li>
			<li>Robotics (Servos, Steppers, Controllers, Encoders, IR Sensors, etc)</li>
			</ul>
		<h5>Analytical Software</h5>
			<ul>
			<li>Finite Element Analysis (COMSOL, ANSYS, Keysight Pathwave/EMPro, Elmer FEM)</li>
			<li>Numeric Computing Enviroments (MATLAB, Octave, Igor Pro, SciDavis, MAPLE, Labview)</li>
			<li>Data Visualization (SciDavis, Igor Pro, ParaView, LabPlot)</li>
			</ul>
		<h5>Instrumentation & Control</h5>
			<ul>
			<li>Static Measurement (Digital Multimeter, LCR Meter, Source Measurement Unit, ESD Tester)</li>
			<li>Signal Analysis (Osciliscope, Spectrum Analyzer, Vector Network Analyzer, Time-Domain Reflectometer,NI-PXI System)</li>
			<li>Signal Generation (Arbitrary Waveform Generator, Pulse Generator, AC/DC Power Supplies)</li>
			<li>Signal Preprocessing (LNA, LIA, FIR/IIR Filters, PLL)</li>
			<li>Spectroscopy(Mass, Xray, MNR, IR, Gas Chromotography)</li>
			<li>General Chemistry (Titration, Analytical Balance, Ultrasonic Cleaner, Centrifuges, Calorimeters)</li>
			<li>Optical Imaging (Probe Station, Scanning Electron Microscope)</li>
			<li>Mass Flow Monitoring & Control</li>
			</ul>
		<h5>Computer Proficiencies</h5>
			<ul>
			<li>Programing Languages (C++, Python, Fortran, Assembly, Verlog, VHDL, HTML/CSS)</li>
			<li>Machine Learning (SVM,KNN)</li> <!-- Support Vector Machine, K-Nearest Neighboor-->
			<li>Linux (Red Hat, CentOS, Debian)</li>
			<li>Automation & Scripting (Bash, PowerShell, VBScripts, MATLAB)</li>
			</ul>
		<h5>Other Skills</h5>
			<ul>
			<li>Project Management (Planning, Budgeting, Negotiation, Scheduling)</li>
			<li>Documentation (LaTeX, Microsoft Office Suite)</li>
			<li>Research (Report Writing, Conference Papers, Abstracts, Presentations)</li>
			<li>Prototyping (3D Printing, General Machining, Electronics Assembly)</li>
			<li>Circuit Debugging (Methodical Fault Finding, Divide and Conquer)</li>
			<li>Soldering (Traditional, Hot Air, Reflow)</li>
			<li>Computational Science (Physics, Mathematical Modeling, Optimization)</li>
			</ul>
</div>

<!-- Contact Image (done)-->
{% include parallax_bg.html image_url="/assets/images/Misc/background3.jpg" %}

<!-- Contact Section (done)-->
<div class="w3-content w3-container w3-padding-64" id="contact">
  <h2 class="w3-center">CONTACT ME</h2>
  <div class="w3-row w3-padding-32 w3-section">
    <div class="w3-col m4 w3-container">
      <img src="/assets/images/logos/ontario.png" class="w3-image w3-round" style="width:95%">
    </div>
    <div class="w3-col m8 w3-panel">
      <div class="w3-large w3-margin-bottom">
        <i class="fa fa-location-dot fa-fw w3-xlarge w3-margin-right"></i> {{site.author.location}}<br>
		<i class="fa fa-envelope fa-fw w3-xlarge w3-margin-right"></i> <a href={{site.author.email}}>Email Me</a><br>
        <i class="fa-brands fa-linkedin fa-fw w3-xlarge w3-margin-right"></i> <a href={{site.author.linkedin}}>LinkedIn</a><br>
		<i class="fa-brands fa-orcid fa-fw w3-xlarge w3-margin-right"></i> <a href={{site.author.orcid}}>ORCID</a><br>
		<i class="fa-brands fa-github fa-fw w3-xlarge w3-margin-right"></i> <a href={{site.author.github}}>Github</a>
	  </div>
    </div>
  </div>
</div>
